.listGroupItem {
  max-width: 80rem;
  padding: 1rem 2rem;
  display: flex;
  background: transparent;
  transition: all 0.4s;
  border: 1px solid var(--border-3);
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}

.listGroupItem:hover,
.listGroupItem:focus-within {
  background: var(--background-color);
}

.listGroupItem:focus-within {
  box-shadow: 6px 6px 35px rgb(166 166 166 / 25%);
}

.listGroupCheckbox {
  cursor: pointer;
  margin-top: 1rem;
  appearance: none;
  background: var(--background-color);
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--border-3);
  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.listGroupCheckbox::before {
  content: "✔";
  /* width: 1.75rem;
  height: 1.75rem; */
  /* box-shadow: inset 1em 1em var(--primary-color); */
  color: var(--primary-color);
  transform: scale(0);
  transition: all 250ms ease-in-out;
}

.listGroupCheckbox:checked::before {
  transform: scale(1);
}

.listGroupContent {
  margin-left: 3rem;
}

.listGroupContent h3 {
  text-transform: capitalize;
  color: var(--text-color);
  margin-bottom: 0.75rem;
}

.listGroupContent p {
  margin: 0;
  font-size: 1.6rem;
  color: var(--text-color-7);
}

@media (max-width: 575px) {
  .listGroupItem {
    padding: 1.5rem 2rem;
  }

  .listGroupContent h3 {
    margin-bottom: 0.5rem;
  }

  .listGroupContent p {
    font-size: 1.5rem;
  }
}
