.row {
  font-size: 1.6rem;
  background: transparent;
  box-shadow: none;
  transition: all 0.4s;
}

.row:hover {
  background: var(--orange-light);
  box-shadow: 6px 6px 35px rgb(166 166 166 / 25%);
}

.row td {
  padding: 1.8rem 0;
}
.chart {
  width: 100%;
  height: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.itemsection {
  display: flex;
  align-items: center;
  gap: 2rem;
  /* border: 0; */
}

.itemImage {
  /* width: 5rem; */
  /* height: 5rem; */
  /* margin-left: 1.5rem; */
  /* display: grid; */
  /* place-items: center; */
  /* border: 1px solid var(--border-4); */
  /* border-radius: 1.5rem !important; */
  overflow: hidden;
}

.collectionName {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  color: var(--text-color-7) !important;
}

.itemName {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1;
  color: var(--text-color-6) !important;
}

.username {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--p1) !important;
  transition: all 0.4s;
}

.username:hover {
  color: var(--primary-color) !important;
}

.time {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.time svg {
  font-size: 2.25rem;
  line-height: 1;
  margin-bottom: 0.35rem;
}

.event {
  font-weight: 500;
  text-transform: capitalize;
}

.prices h4 {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0;
}

.prices p {
  margin: 0;
  font-size: 1.4rem;
  color: var(--text-color-7);
}

.groupContainer {
  display: flex;
  /* flex-direction: r; */
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 5rem;
}
.tabContainer {
  display: flex;
  gap: 3rem;
  padding: 0.9rem;
  background-color: var(--background-color-4);
  border-radius: 1.5rem;
  border: 1px solid var(--border-4);
}
.tab {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color-6) !important;
  transition: all 0.4s;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.activeTab {
  background-color: var(--primary-color);
  color: var(--border-6);
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
}
.selectContainer {
  height: 55px;
  background-color: var(--background-color-4);
  border-radius: 1.5rem;
  color: var(--text-color-6) !important;
}
@media (max-width: 500px) {
  .groupContainer {
    flex-direction: column;
  }
  .selectContainer {
    width: 100%;
  }
  .tabContainer {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
