.subtitle {
  font-size: 1.6rem;
  color: var(--text-color-7);
}

.listGroup {
  border-radius: 1.5rem;
  margin-bottom: 3rem;
}

.removeMargin {
  max-width: 80rem;
}
.removeMargin > div {
  padding: 0;
  margin: 0;
}

.inputGroup {
  display: flex;
  margin-top: 1rem;
  border: 1px solid var(--border-3);
  border-radius: 1.5rem;
}

.inputGroupPrefix {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-right: inherit;
}

.inputGroupPrefix svg {
  margin-right: 2rem;
}

.inputGroupPrefix h4 {
  margin: 0;
}

.inputGroupPrefix span {
  font-size: 1.5rem;
  color: var(--text-color-7);
}

.inputGroupInput {
  width: 100%;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: var(--text-color-6);
  border: 0;
  border-radius: 0 1.5rem 1.5rem 0;
}

@media (max-width: 575px) {
  .inputGroupPrefix {
    padding: 1rem;
  }

  .inputGroupPrefix svg {
    margin-right: 1rem;
  }
}
