.singleAuthor {
  width: 100%;
  position: relative;
  text-align: center;
  padding: 0 1.5rem;
  padding-bottom: 1rem;
  z-index: 1;
  margin-bottom: 3rem;
}

.singleAuthor:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 85%;
  left: 0;
  bottom: 0;
  background: var(--background-color);
  box-shadow: 6px 6px 35px var(--box-shadow);
  z-index: -1;
  border-radius: 1.5rem;
}
.authorThumbnail {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: var(--background-color-4);
  height: 25rem;
  border-radius: 1.5rem;
}

.authorThumbnail a {
  display: block;
  border-radius: 1.5rem;
  overflow: hidden;
}
.authorThumbnail img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: all 0.5s linear;
  border-radius: 1rem;
}
.roundImg {
  height: 5rem !important;
  width: 5rem !important;
  min-width: 6rem !important;
  max-width: 6rem !important;
  border-radius: 100%;
  border: 4px solid var(--background-color-4) !important;
}
.content {
  display: flex;
  height: 6rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
}
.status {
  position: absolute;
  top: 5rem;
  right: -1rem;
  width: 3.5rem;
  height: 3.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  z-index: 10;
}

.status svg {
  font-size: 2.5rem;
  color: var(--text-color-3);
  line-height: 1;
}

.authorInfo {
  padding: 1.5rem 0;
}

.authorName {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--text-color);
}
.authorName a {
  color: var(--text-color);
  transition: all 0.5s linear;
}
.authorName a:hover {
  color: var(--primary-color);
}

.singleAuthor:hover .authorThumbnail img {
  transform: scale(1.1);
}

.description {
  margin-bottom: 0;
  font-size: 1.4rem;
  line-height: 1.4;
}

.pricingSection {
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.pricingSectionWider {
  justify-content: space-between;
}

.pricingSection p {
  margin: 0;
  font-size: 1.5rem;
}

.btns {
  margin-bottom: 1.5rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.btns button {
  display: flex;
  align-items: center;
  padding: 0.25rem 1.25rem;
  font-size: 1.5rem;
  color: var(--text-color-3);
  background: transparent;
  border: 0;
  border-radius: 1rem;
}

.btns svg {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.itemCount {
  display: block;
  margin-top: 0.75rem;
}

@media (max-width: 991px) {
  .authorName {
    font-size: 2rem;
  }
}
@media (max-width: 767px) {
  .authorThumbnail img {
    /* height: auto; */
  }
}
@media (max-width: 575px) {
  .pricingSectionWider {
    flex-direction: column;
    justify-content: center;
  }
}
