.wrapper {
  width: 100%;
  background: var(--background-color);
  border-radius: 1.5rem;
  overflow: hidden;
}

.wrapper > * {
  padding: 1rem 0;
}

.submit {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.4rem;
  text-align: left;
  background: var(--background-color-4);
  border: 0;
  transition: all 0.4s;
}

.submit:hover {
  background: var(--background-color-3);
}

.list li {
  border-bottom: 1px solid var(--n7);
}

.list a {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem 1.5rem;
  box-shadow: none;
  transition: all 0.4s;
}

.list a:hover {
  background: var(--orange-light);
  box-shadow: 6px 6px 35px rgb(166 166 166 / 25%);
}

.caption {
  padding: 1.25rem 1.5rem;
  font-size: 1.6rem;
  line-height: 1;
}

.collectionItem {
  flex-direction: row;
  justify-content: space-between;
}

.collectionItemInner {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.collectionItemInner h4,
.asset h4 {
  color: var(--n3);
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
}

.image {
  width: 4rem;
  height: 4rem;
  max-width: 4rem;
  max-height: 4rem;
  object-fit: cover;
  padding: 0.25rem;
  border: 1px solid var(--n7);
  border-radius: 1.5rem;
}

.tokenImage {
  width: 2rem;
  height: 2rem;
  max-width: 2rem;
  max-height: 2rem;
}

.assetName {
  margin: 0;
  color: var(--n4);
  font-size: 1.4rem;
}
