.groupContainer {
  display: flex;
  /* flex-direction: r; */
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 5rem;
}
.tabContainer {
  display: flex;
  gap: 3rem;
  padding: 0.9rem;
  background-color: var(--background-color-4);
  border-radius: 1rem;
  border: 1px solid var(--border-4);
}
.tab {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color-6) !important;
  transition: all 0.4s;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.activeTab {
  background-color: var(--primary-color);
  color: var(--border-6);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
.selectContainer {
  height: 55px;
  background-color: var(--background-color-4);
  border-radius: 1rem;
  color: var(--text-color-6) !important;
}
@media (max-width: 500px) {
  .groupContainer {
    flex-direction: column;
  }
  .selectContainer {
    width: 100%;
  }
  .tabContainer {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
