.header {
  display: flex;
  justify-content: flex-end;
  margin-top: -30px;
  margin-bottom: 50px;
}

.btn {
  border: 0 !important;
  background: transparent !important;
}

.btn:hover,
.btn:focus {
  background: var(--background-color);
  box-shadow: 6px 6px 35px rgb(166 166 166 / 25%);
}
.social {
  color: inherit;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.social:hover {
  color: inherit;
}
.socialLink:hover {
  background: var(--background-color-2) !important;
  color: inherit;
  box-shadow: 6px 6px 35px rgb(166 166 166 / 25%);
}
.popupListGroup {
  border-radius: 1rem;
}
.socialLink {
  color: inherit;
}
.popupListItem {
  width: 100%;
  padding: 1rem 1.5rem;
  text-align: left;
  background: transparent;
  border: 0 !important;
  color: var(--text-color-7);
}
.popupListItem:hover {
  color: var(--text-color);
}

.itemName {
  color: var(--text-color);
  font-size: 3rem;
  margin-bottom: 2rem;
}

.ownerName {
  font-size: 1.6rem;
}

.description {
  font-size: 1.6rem;
  color: var(--text-color);
}
@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 2rem;
  }
}
