.wrapper {
  display: flex !important;
  justify-content: center;

  /* background: teal; */
}

.wrapperFirstItem {
  justify-content: flex-end;
}

.wrapperSecondItem {
  justify-content: flex-start;
}

.categoryCard {
  width: 32rem;
  text-align: center;
  position: relative;
  padding: 0 1rem;
  margin: 0 1.5rem;
  z-index: 1;
  transition: all 0.5s linear;
}

.catagoryThumbnail {
  overflow: hidden;
  width: 90%;
  margin: auto;
  border-radius: 1.5rem;
}
.catagoryThumbnail img {
  width: 100%;
  height: 20rem;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 1.5rem;
  transition: all 0.5s linear;
}
.catagoryThumbnail a {
  display: block;
}
.catagoryInfo {
  padding: 2.5rem 1.5rem;
}
.categoryTitle {
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-transform: capitalize;
  color: var(--text-color-2);
}
.categoryTitle a {
  color: inherit;
  transition: all 0.3s linear;
}

.categoryCard:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 80%;
  left: 0;
  bottom: 0;
  background: var(--background-color);
  box-shadow: 6px 6px 35px var(--box-shadow);
  border-radius: 15px;
  z-index: -1;
  border-radius: 1.5rem;
  transition: all 0.5s linear;
}

.categoryCard:hover .catagoryThumbnail img {
  transform: scale(1.1);
}

.categoryCard:hover .categoryTitle {
  /* color: var(--text-color-3); */
}
/* onhover change color */
.categoryTitle:hover {
  color: var(--primary-color);
}
.categoryCard:hover::after {
  /* background: var(--primary-color); */
  transition: all 0.5s linear;
}

@media (max-width: 767px) {
  .categoryTitle {
    font-size: 1.8rem;
  }
}
